examtopics_output.md
examtopics_output.html
examtopics_output.pdf
*.txt
env/
!env/*.md
!examples/*
data/*.md
data/
source-local/
.vscode/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
.idea/
examtopics-data*